{% extends "layout.html" %}
{% block title %} About Us {% endblock %}

{% block main %}
    <div class="container py-5 text-light" style="background-color: #000; border-radius: 10px;">
        <h1 class="text-center" style="color: #ffd700;">About Us</h1>
        <hr class="bg-light mx-auto" style="width: 50%; height: 2px; border-radius: 5px;">
        <p class="mt-4 fs-5 text-justify">
            <strong style="color: #ffd700;">Why LEMONADdiE?</strong><br>
            It was July 2023 when we got the idea of putting up a business like this, because why not?
        </p>
        <p class="fs-5 text-justify">
            Our unica hija really loves lemonade, so we decided to have a lemonade business plus offer some of her favorite go-to snacks. Btw, her nickname is <strong style="color: #ffd700;">ADDIE</strong>, that’s why we named our family business <strong style="color: #ffd700;">LEMONADdiE</strong>.
        </p>
        <p class="fs-5 text-justify">
            We are blessed and proud to say that our God is faithful. He can do all things and make the impossible possible. I resigned from my work to start and focus on our business, and while doing this, we are truly amazed at how God provides for us to finish it.
            <em>Thankful for the people whom God used in order for us to build this. To my lifetime partner, balang araw 0.00 na tayo sa loan obligation.</em>
        </p>
        <p class="fs-5 text-justify">
            I truly believe in: <em><strong style="color: #ffd700;">“Malayo pa, Pero Malayo Na”</strong></em>
        </p>
        <p class="fs-5 text-justify">
            We can’t wait to see your beautiful and happy faces in our physical store located at the back gate of PRMSU Iba, Zambales.
        </p>
        <p class="fs-5 text-justify">
            <strong style="color: #ffd700;">LEMONADdiE</strong> offers you the best drinks and snacks while being entertained with board and word games.
        </p>
    </div>
{% endblock %}
