{% extends "layout.html" %}
{% block title %} Gallery {% endblock %}

{% block main %}
    <div class="container py-5">
        <h2 class="text-center mb-4">Our Happy Customers</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4">
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customer 1.jpg" class="card-img-top img-fluid rounded" alt="Customer 1">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customer 2.jpg" class="card-img-top img-fluid rounded" alt="Customer 2">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customer 3.jpg" class="card-img-top img-fluid rounded" alt="Customer 3">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customers 4.jpg" class="card-img-top img-fluid rounded" alt="Customer 4">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customers 5.jpg" class="card-img-top img-fluid rounded" alt="Customer 5">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customers 6.jpg" class="card-img-top img-fluid rounded" alt="Customer 6">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customers 7.jpg" class="card-img-top img-fluid rounded" alt="Customer 7">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customers 8.jpg" class="card-img-top img-fluid rounded" alt="Customer 8">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customer 9.jpg" class="card-img-top img-fluid rounded" alt="Customer 9">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/customers/customers10.jpg" class="card-img-top img-fluid rounded" alt="Customer 10">
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <h2 class="text-center mb-4">Our shop</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4">
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/shop/shopmg1.jpg" class="card-img-top img-fluid rounded" alt="Shop 1">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/shop/shopmg2.jpg" class="card-img-top img-fluid rounded" alt="Shop 2">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/shop/shopmg3.jpg" class="card-img-top img-fluid rounded" alt="Shop 3">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/shop/shopmg4.jpg" class="card-img-top img-fluid rounded" alt="Shop 4">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg border-0 rounded">
                    <img src="/static/images/shop/shopmg5.jpg" class="card-img-top img-fluid rounded" alt="Shop 5">
                </div>
            </div>

        </div>
    </div>
{% endblock %}
