{% extends "layout.html" %}
{% block title %} Contact Information {% endblock %}

{% block main %}
    <div class="container py-5">
        <h2 class="text-center mb-4">Contact Us</h2>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg border-0 rounded">
                    <div class="card-header text-center bg-primary text-white">
                        <h4 class="mb-0">Follow Us</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center">
                                <i class="fab fa-facebook-square fa-3x me-3 text-primary"></i>
                                <span>Facebook: <a href="https://www.facebook.com/lemonaddie.2023" target="_blank" class="text-decoration-none">LEMONADdiE</a></span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <i class="fab fa-instagram fa-3x me-3 text-danger"></i>
                                <span>Instagram: <a href="https://www.instagram.com/lemonaddie.ph" target="_blank" class="text-decoration-none">lemonaddie.ph</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
