{% extends "loglayout.html" %}

{% block title %} Login {% endblock %}

{% block main %}
    <h1>Welcome back!</h1>
    <h3>Sign in to your account.</h3>
    <form action="/login" method="POST">
        <div class="input-col">
            <div class="input-row">
                <input id="loginuser" type="text" name="username" placeholder="Username" required autocomplete="off">
            </div>
            <div class="input-row">
                <div class="password-container">
                    <input id="loginpwd" type="password" name="password" placeholder="Password" id="password" required autocomplete="off">
                    <span class="eye-icon" onclick="togglePassword('password')">&#128065;</span>
                </div>
            </div>
            <a class="signuphere" href="/forgotpwd">Forgot password?</a>
            <button id="login" class="signup-btn">Sign in</button>
            <p>By continuing, you agree to our updated Terms & Conditions and Privacy Policy</p>
            <a class="signuphere" href="/signup">Sign up here</a>
        </div>
    </form>
{% endblock %}
